$navheight-desktop: 80px;
$navheight-mobile: 70px;
$footerheight-desktop: 50px;
$footerheight-desktop: 40px;
$bg-dark: #00073d;
$bg-dark-gradient: linear-gradient(108deg, #ffeea9, #ff9696, #ffeea9);
$yellow: #ffff00;
$orange: hsl(5, 100%, 50%);
